.dm-about-sec{
	padding-bottom: 90px;
}
.dm-about-sec-inr{
	background: #88BE43;
	padding: 50px 50px 40px 50px;
	position: relative;
	z-index: 12;
	-webkit-box-shadow: 1px 3px 7px 0px rgba(147,147,147,1);
	-moz-box-shadow: 1px 3px 7px 0px rgba(147,147,147,1);
	box-shadow: 1px 3px 7px 0px rgba(147,147,147,1);
	margin-top: -100px;
}
.dm-about-sec-title{
	display: block;
	line-height: 1;
	margin-bottom: 20px;
	color: #fff;
}
.dm-about-sec-inr p {
    line-height: 27px;
    color: #fff;
}
.dm-about-sec-inr p a{
	color: #2f760c;
	margin-left: 5px;
	text-transform: capitalize;
}
.dm-about-sec-inr p a:hover{
	color: #2B2829;
}

.dm-vision-mision-sec {
    background: #F5F7F7;
    padding: 45px 0 25px 0;
}
.dm-vm-title{
	display: block;
	line-height: 1;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #7fb23b;
	text-align: center;
	font-family: 'HelveticaNeueBold';
}
.dm-vm-title span{
	color: #606060;
}

.dm-vision-mision-grd-sec{
	padding: 60px 0;
	overflow: hidden;
}
.dm-vision-mision-grd-sec-inr{
	max-width: 994px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.dm-vision-mision-grd-sec-inr ul{
	margin: 0 -30px;
}
.dm-vision-mision-grd-sec-inr ul li{
	float: left;
	width: 50%;
    padding-right: 30px;
    padding-left: 30px;
}


.dm-vm-grd-item{
	background: #F5F7F7;
	padding: 115px 40px 40px 40px;
	position: relative;
}
.dm-vm-grd-item:before{
	content: "";
	height: 43px;
	width: 70px;
	position: absolute;
	background: url('../images/dm-vm-grd-item-blockquoct.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	top: 50px;
	left: 40px;
}

.dm-vm-grd-item-title{
	font-family: 'Verdana-bold';
	display: block;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: 700;
	color: #7FB23B;
}
.dm-vm-grd-item p{
	color: #606060;
}

.main-slide-text{
	margin-bottom: 20px;
}
.dm-about-value-sec{
	/*margin-bottom: 110px;*/
	background: #F5F7F7;
	padding: 50px 0 50px;
}

.dm-about-value-title{
	display: block;
	line-height: 1;
	margin-bottom: 45px;
	font-weight: 700;
	text-transform: uppercase;
	color: #7FB23B;
	text-align: center;
	font-family: 'HelveticaNeueBold';
}
.dm-about-value-sec-inr ul {
/*    padding-left: 150px;
    padding-right: 150px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dm-about-value-sec-inr ul li{
	float: left;
	width: 33.33%;
	padding: 0 30px 25px 30px;
	position: relative;
}
.dm-about-value-sec-inr ul li:after {
    content: "";
    height: 14px;
    width: 14px;
    background: #7FB23B;
    position: absolute;
    left: 0;
    top: 9px;
}
.dm-about-value-sec-inr ul li:after {
    content: "";
    height: 43px;
    width: 12px;
    background: #7FB23B;
    position: absolute;
    left: 0px;
    top: 4px;
}
.dm-about-value-sec-inr ul li strong {
    font-size: 23px;
    color: #606060;
    font-family: 'Verdana';
    margin-bottom: 10px;
    font-weight: normal;
    display: block;
}
.dm-about-value-sec-inr ul li:nth-child(2n+1){
	clear: left;
}
.dm-about-value-sec-inr ul li p{
	font-size: 17px;
	line-height: 27px;
	color: #606060;
	font-family: 'Arial';
}
.continue-reading-desc{
	display: none;
}
.hasAnim h1,
.hasAnim h1 + p{
	position: relative;
	opacity: 0;
}
.hasAnim h1 .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}
.hasAnim h1 + p .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}
@media(max-width: 1399px){
	.dm-vision-mision-grd-sec-inr ul {
	    margin: 0 -40px;
	}
	.dm-vision-mision-grd-sec-inr ul li {
	    padding-right: 40px;
	    padding-left: 40px;
	}
	.dm-about-value-sec-inr ul {
	    padding-left: 150px;
	    padding-right: 130px;
	}
}

@media(max-width: 1199px){
	.dm-about-sec {
	    padding-bottom: 80px;
	}
	.dm-about-sec-inr {
	    background: #88BE43;
	    padding: 45px 65px 48px 45px;
	}
	.dm-about-sec-inr p br{
	    display: none;	
	}
	.dm-vision-mision-sec {
	    padding: 50px 0 30px 0;
	}
	.dm-vm-title {
	    margin-bottom: 15px;
	}
	.dm-vision-mision-grd-sec {
	    padding: 55px 0;
	}
	.dm-vm-grd-item {
	    padding: 115px 60px 40px 40px;
	}
	.dm-about-value-sec {
	    margin-bottom: 90px;
	}
	.dm-about-value-sec-inr ul {
	    padding-left: 126px;
	    padding-right: 80px;
	}
	.dm-about-value-sec-inr ul li {
	    font-size: 26px;
	}
	.dm-vision-mision-grd-sec-inr ul {
	    margin: 0 -20px;
	}
	.dm-vision-mision-grd-sec-inr ul li {
	    padding-right: 20px;
	    padding-left: 20px;
	}
	.dm-about-value-sec-inr ul li:after{
		top: 6px;
	}
	.dm-about-value-sec-inr ul li p {
	    font-size: 15.5px;
	}
}

@media(max-width: 991px){
	.dm-about-sec {
	    padding-bottom: 70px;
	}
	.dm-about-sec-inr {
	    padding: 40px 30px 30px 45px;
	}
	.dm-vm-title {
	    margin-bottom: 10px;
	}
	.dm-vision-mision-grd-sec {
	    padding: 50px 0;
	}
	.dm-vm-grd-item {
	    padding: 115px 25px 40px 30px;
	}
	.dm-about-value-sec {
	    margin-bottom: 75px;
	    padding: 45px 0 40px;
	}
	.dm-about-value-sec-inr ul li {
	    font-size: 22px;
	    padding: 0 15px 12px 30px;
	}
	.dm-vision-mision-grd-sec-inr ul {
	    margin: 0 -15px;
	}
	.dm-vision-mision-grd-sec-inr ul li {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.dm-about-value-sec-inr ul {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.dm-about-value-sec-inr ul li:after {
	    top: 5px;
	}
	
}

@media(max-width: 767px){
	.dm-about-sec-inr {
	    padding: 40px 30px 30px 30px;
	}
	.dm-vision-mision-sec {
	    padding: 40px 0 25px 0;
	}
	.dm-vm-title {
	    margin-bottom: 10px;
	}
	.dm-vm-grd-item{
		max-width: 450px;
		margin: 0 auto;
	}
	.dm-about-value-sec {
	    margin-bottom: 60px;
	    padding: 45px 0 40px;
	}
	.dm-about-value-sec-inr ul li {
	    width: 100%;
	}
	.dm-about-value-sec-inr ul li:after {
	    top: 2px;
	}
	.dm-about-sec-inr{
		margin-top: -120px;
	}
	.dm-vision-mision-grd-sec-inr ul{
		margin: 0;
	}
	.dm-vision-mision-grd-sec-inr ul li{
		width: 100%;
		padding-bottom: 30px;
		padding-left: 0;
		padding-right: 0;
	}
	.dm-about-value-sec-inr ul {
	    padding-left: 0;
	    padding-right: 0;
	    display: table;
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 313px;
	    width: 100%;
	}
}

@media(max-width: 575px){
	.dm-about-value-sec-inr ul{
		max-width: 100%;
		padding-top: 20px;
	}
	.dm-about-sec {
	    margin-top: 20px;
	    padding-bottom: 50px;
	}
	.dm-about-sec-inr {
	    padding: 35px 20px 25px 40px;
	}
	.dm-vm-grd-item {
	    padding: 115px 20px 30px 25px;
	}
	.dm-vision-mision-grd-sec{
		padding-bottom: 30px;
	}
	.dm-about-value-sec {
	    margin-bottom: 50px;
	    padding: 40px 0 30px;
	}
	.dm-about-sec-inr{
		margin-top: -100px;
	}

}

@media(max-width: 479px){
	.dm-about-sec-inr {
	    padding: 35px 10px 25px 20px;
	}
	.dm-vm-grd-item {
	    padding: 80px 20px 30px 25px;
	}
	.dm-vm-grd-item:before {
		height: 35px;
    	width: 55px;
	    background-size: 55px 35px;
	    top: 30px;
	}
	.dm-about-value-sec-inr ul li:after {
	    background-size: 15px 15px;
	}

}

@media(max-width: 359px){
	.dm-about-sec-inr p a {
	    display: block;
	    margin: 0;
	    margin-top: 4px;
	}
}