/*
-------------------------
dm-project-info-sec-wrp
-------------------------
*/
.dm-project-info-sec-wrp{
	background: #f5f7f7;
	padding-top: 70px;
	margin: 120px 0;
	padding-bottom: 60px;
}
.dm-project-info-lft{
	width: 57%;
	float: left;
	padding-right: 35px;
}

.dm-project-info-rgt-dsc{
	width: 43%;
	float: right;
	padding-top: 10px;
}
.dm-info-dsc-title{
	display: block;
	font-size: 35px;
	line-height: 37px;
	color: #88BE43;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 55px;
}
.dm-info-dsc-title-1{
	display: block;
	font-size: 22px;
	line-height: 24px;
	color: #88BE43;
	font-weight: 700; 
	font-family: 'Raleway', sans-serif;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.dm-project-info-rgt-dsc p {
    margin-bottom: 48px;
    line-height: 40px;
    font-size: 22px;
    margin-top: -10px;
}
.dm-project-info-rgt-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
	padding-bottom: 40px;
}
.dm-project-info-logo {
    width: 230px;
    height: 140px;
}
.dm-project-info-logo img{
	max-height: 100%;
}
.dm-project-info-btm-dsc {
    padding-top: 55px;
    padding-right: 15px;
}
.dm-project-info-btm-dsc a{
	font-size: 16px;
	line-height: 24px;
	color:#88BE43;
	font-weight: 700;
	display: block;
	text-transform: uppercase; 
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.dm-project-info-btm-dsc p{
	font-size: 22px;
	line-height: 40px;
	margin-bottom: 45px;
}
.dm-project-info-btm-dsc-title{
	color: #88be44;
}
.dm-project-info-btm-dsc a:hover{
	color: #000;
}

/*
-------------------
  Vacancy 
-------------------
*/
.dm-vacancy-grid-sec-wrp{
	background:#f5f7f6;
	padding-bottom: 80px;
	margin: 100px 0;
}
.dm-vacancy-grid-head{
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	line-height: 27px;
	color: #757575;
	padding-bottom: 30px;
}
.dm-vacancy-grid-wrp ul{
	margin: 0 -12px;
}
.dm-vacancy-grid-wrp ul li{
	width: 33.3333%;
	float: left;
	padding: 0 12px 20px;
}
.dm-vacancy-grid-wrp ul li:nth-child(3n+1){
	clear: left;
}
.dm-vacancy-grid-inr {
    -webkit-box-shadow: 0px 2px 10px -1px  rgba(13,58,36,0.75);
    -moz-box-shadow: 0px 2px 10px -1px  rgba(13,58,36,0.75);
    box-shadow: 0px 2px 10px -1px  rgba(13,58,36,0.75);
}
.dm-vacancy-grid-img-contrl{
	position: relative;
	overflow: hidden;
}
.dm-vacancy-grid-img{
	text-align: center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dm-vacancy-grid-img img{
	width: 100%;
}
.dm-vacancy-grid-dsc{
	padding: 25px 30px 27px;
	text-align: center;
	background:#fff;
}
.dm-vacancy-grid-head-title{
	font-size: 50px;
	line-height: 52px;
	color: #757575;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 8px;
	display: block;
}
.dm-vacancy-grid-dsc-title{
	display: block;
	font-size: 22px;
	line-height: 27px;
	color: #88BE43;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 12px;
}
.dm-vacancy-grid-dsc span{
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #757575;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	padding-bottom: 12px;
}
.dm-vacancy-grid-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	color: #88BE43;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 12px;
}
.dm-vacancy-grid-dsc a:hover{
	color: #0d3a24;
}
.dm-thumb-images{
	margin: 0 -5px;
}
.dm-thumb-img{
	float: left;
	width: 20%;
	padding: 0 5px;
}
.dm-thumb-img > div,
.dm-project-info-lft-img{
	cursor: pointer;
}
.dm-thumb-images{
	padding: 0 15px 0 5px;
}
/*
----------------------
 Responsive Css
----------------------
*/
@media(max-width: 1199px){
	.dm-project-info-rgt-dsc p {
	    margin-bottom: 45px;
	    line-height: 42px;
	    font-size: 22px;
	}
	.dm-project-info-rgt-dsc p br{
		display: none;
	}
	.dm-info-dsc-title {
	    font-size: 32px;
	    line-height: 34px;
	    margin-bottom: 50px;
	}
	.dm-project-info-rgt-dsc span {
	    padding-bottom: 40px;
	}
	.dm-vacancy-grid-head-title {
	    font-size: 47px;
	    line-height: 49px;
	}
	.dm-vacancy-grid-head {
	    font-size: 24px;
	    line-height: 26px;
	}
	.dm-vacancy-grid-dsc-title {
	    font-size: 21px;
	    line-height: 26px;
	}
	.dm-vacancy-grid-dsc {
	    padding: 25px 20px 27px;
	}
	.dm-vacancy-grid-sec-wrp {
	    padding-bottom: 80px;
	    margin: 80px 0;
	}
	.dm-vacancy-grid-dsc-title br{
		display: none;
	}
	.dm-vacancy-grid-head{
		padding-top: 20px;
	}
}

@media(max-width: 991px){
	.dm-info-dsc-title {
	    font-size: 30px;
	    line-height: 32px;
	}
	.dm-project-info-inr{
		display: block;
	}
	.dm-project-info-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.dm-project-info-rgt-dsc {
	    width: 100%;
	    padding-top: 30px;
	}
	.dm-project-info-lft-img{
		text-align: center;
	}
	.dm-project-info-lft-img img {
	    height: auto;
	}
	.dm-project-info-rgt-dsc p {
	    margin-bottom: 35px;
	    line-height: 38px;
	    font-size: 20px;
	}
	.dm-project-info-btm-dsc p {
	    font-size: 20px;
	    line-height: 42px;
	    margin-bottom: 35px;
	}
	.dm-project-info-btm-dsc {
	    padding-top: 50px;
	    padding-right: 0;
	}
	.dm-vacancy-grid-head-title {
	    font-size: 44px;
	    line-height: 46px;
	}
	.dm-vacancy-grid-head {
	    font-size: 21px;
	    line-height: 24px;
	}
	.dm-vacancy-grid-dsc-title {
	    font-size: 20px;
	    line-height: 25px;
	}
	.dm-vacancy-grid-wrp ul li {
	    width: 50%;
	    padding: 0 12px 20px;
	}
	.dm-vacancy-grid-wrp ul li:nth-child(3n+1){
		clear: none;
	}
	.dm-vacancy-grid-wrp ul li:nth-child(2n+1){
		clear: left;
	}
	.dm-project-info-btm-dsc p {
	    font-size: 17px;
	    line-height: 1.8;
	    margin-bottom: 35px;
	}
	.dm-vacancy-grid-wrp ul{
		margin-left: auto;
		margin-right: auto;
		max-width: 730px;
		width: 100%;
	}
	.dm-thumb-images{
		max-width: 680px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 767px){
	.dm-info-dsc-title {
	    font-size: 28px;
	    line-height: 30px;
	    margin-bottom: 40px;
	}
	.dm-project-info-sec-wrp {
	    padding-top: 60px;
	    margin: 80px 0;
	    padding-bottom: 50px;
	}
	.dm-project-info-btm-dsc a,
	.dm-project-info-btm-dsc-title{
	    font-size: 20px;
	    line-height: 22px;
	}
	.dm-vacancy-grid-head-title {
	    font-size: 40px;
	    line-height: 42px;
	}
	.dm-vacancy-grid-head {
	    font-size: 19px;
	    line-height: 22px;
	    padding-bottom: 20px;
	}
	.dm-vacancy-grid-dsc-title {
	    font-size: 19px;
	    line-height: 24px;
	}
	.dm-vacancy-grid-dsc {
	    padding: 25px 10px 27px;
	}
	.dm-vacancy-grid-sec-wrp {
	    padding-bottom: 50px;
	    margin: 60px 0;
	}
	.dm-project-info-rgt-dsc p {
	    line-height: 32px;
	    font-size: 19px;
	}
	.dm-project-info-rgt-dsc span{
		font-size: 20px;
	}
}
@media(max-width: 639px){
	.dm-vacancy-grid-wrp{
		max-width: 480px;
		width: 100%;
		margin: 0 auto;
	}
	.dm-vacancy-grid-wrp ul li {
	    width: 100%;
	}
	.dm-vacancy-grid-wrp ul li:nth-child(2n+1){
		clear: none;
	}
	.dm-vacancy-grid-wrp ul li .dm-vacancy-grid-inr{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}
@media(max-width: 575px){
	.dm-info-dsc-title {
	    font-size: 25px;
	    line-height: 27px;
	}
	.dm-vacancy-grid-head-title {
	    font-size: 37px;
	    line-height: 39px;
	}
	.dm-project-info-rgt-dsc p {
	    line-height: 28px;
	    font-size: 18px;
	}

}

@media(max-width: 479px){
	.dm-vacancy-grid-head-title {
	    font-size: 32px;
	    line-height: 36px;
	}
	.dm-vacancy-grid-head{
		font-size: 18px;
	}

}

@media(max-width: 359px){

}