/**
All Transitions
*/
.dm-pa-grid-innr:hover .dm-pa-grid-img img,
.dm-vacancy-grid-inr:hover .dm-vacancy-grid-img,
a,input,img,textarea,button,svg,select,
.slick-slider .slick-dots li,
.hmProTabSlideItemCon,
.filter-results-grd-item,
.filter-results-img-hover strong i,
.dm-advisor-grd-item-des a i,
.annualReports .publicatons-page-top-sec-img img,
.dm-pa-service-wrp ul li .dm-pa-service-innr:hover img,
.blog-page-all-blog-item-img,
.ad-back-to-top i,.client-partners-items,.crkmts-grd-item,
.clientsPartnersLogosSlideItem > div.hpcLogo,
.ad-back-to-top,.event-pp-report-page-tab-2-grd,.epprpt-grd-des,.crkmts-grd-item{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.dm-pa-grid-innr:hover .dm-pa-grid-img img,
.dm-vacancy-grid-inr:hover .dm-vacancy-grid-img,
.scale,
.annualReports .publicatons-page-top-sec-img:hover img,
.blog-page-all-blog-items:hover .blog-page-all-blog-item-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.client-partners-items:hover img,
.clientsPartnersLogosSlideItem > div.hpcLogo:hover img{
	transform: scale(1.02);
	-ms-transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-o-transform: scale(1.02);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{
	color: #53bc20;
}

li.current-menu-item > a{
	color: #000!important;
}