.client-partners-sec {
    padding-bottom: 60px;
    background: #f5f7f6;
}
.client-partners-innr{
	padding-top: 70px;
}
.client-partners-hedding {
    padding-bottom: 25px;
    text-align: center;
}
.client-partners-hedding >span,
.client-partners-hedding >h1{
	display: inline-block;
	text-decoration: none;
	font-size: 30px;
	font-weight: 600;
	color: #006838;
	line-height: 28px;
	margin: 0;
}
.client-partners-hedding >a:hover{
    color: #53bc20;
}
.client-partners-des{
	text-align: center;
	padding: 0 150px;
}
.client-partners-sec{
	overflow: hidden;
}
.client-partners-items-wrap{
	padding-top: 35px;
}
.client-partners-items-wrap > ul{
	margin: 0 -20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.client-partners-items-wrap > ul >li {
    padding: 0 20px;
    margin-bottom: 40px;
    max-width: 25%;
    width: 100%;
    float: left;
}
.client-partners-items{
	background: #fff;
	height: 199px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 10px 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(189,191,190,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(189,191,190,1);
    box-shadow: 0px 0px 5px 0px rgba(189,191,190,1);
    overflow: hidden;
}
.client-partners-items:hover{
	background: #fff;
}
.client-partners-items a{
	display: inline-block;
}

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.client-partners-items-wrap > ul > li{
		padding: 0 20px;
		margin-bottom: 40px;
		width: 33.3333%;
		max-width: 100%;
	}
	.client-partners-items-wrap >ul {
	    margin: 0 -20px;
	}
	.client-partners-des{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media(max-width: 767px){
	.client-partners-des{
		padding-left: 0;
		padding-right: 0;
	}
	.client-partners-items-wrap > ul >li{
		padding: 0 10px;
		margin-bottom: 20px;
	}
	.client-partners-items-wrap >ul {
	    margin: 0 -10px;
	}

}

@media(max-width: 575px){
	.client-partners-items-wrap > ul >li:nth-child(3n+1) {
	    clear: initial;
	}
	.client-partners-items-wrap > ul >li:nth-child(2n+1) {
	    clear: left;
	}
	.client-partners-items-wrap > ul >li{
		width: 50%;
		max-width: 100%;
	}
	.client-partners-hedding >h1{
		font-size: 27px;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){
	.client-partners-items{
		height: 175px;
	}
}