.participate-bnr-slider-sec{
	
}
.participateBnrSlideItem{
	position: relative;
}
.participate-bnr-slider-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.participateBnrSlideItem-des{
	position: relative;
	z-index: 2;
	min-height: 640px;
	max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.participateBnrSlideItem-des > div{
	max-width: 900px;
}
.pcbsd-title{
	display: block;
	line-height: 1;
	margin: 0 0 15px 0;
	color: #9AD14B;
	text-shadow: 2px 0px 7px #2F3627;
}
.participateBnrSlideItem-des p{
	color: #fff;
	font-size: 20px;
}
.participateBnrSlider .participateBnrSlideItem{
	padding-left: 15px;
	padding-right: 15px;
}
.participateBnrSlider.slick-slider{
	margin: 0;
	overflow: hidden;
}
.participateBnrSlider.slick-slider ul.slick-dots{
	position: absolute!important;
	left: 0;
	right: 0;
	bottom: 20px;
}
/*
-----------------------
dm-us-contact-form-sec
-----------------------
*/
.dm-us-contact-form-sec {
    padding-top: 55px;
    padding-bottom: 50px;
}
.dm-us-contact-form-sec .dm-contact-form-head{
	padding-bottom: 45px;
}
/*
---------------------
 Contact Form
---------------------
*/
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after,
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before{
	content: "";
	clear: both;
	display: table;
}
.dm-us-contact-form-wrp  div.wpforms-container-full .wpforms-form .wpforms-field{
	clear: initial;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
	width: 50%;
	float: left;
	padding: 0 27px;
	margin-bottom: 36px;
	position: relative;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .subjectField{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
	margin: 0 -27px;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	margin: 0;
	font-size: 14.5px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #88BE43;
	margin-bottom: 12px;
	padding-left: 0;
	font-family: 'Verdana-Bold';
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 50px;
	background: transparent;
	border: 1px solid #6D9B6A;
	box-sizing: border-box;
	padding: 10px 15px;
	color: #9AA59A;
	font-size: 17px;
	line-height: 1;
	border-radius: 0;

}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color: #88BE43;
	box-shadow: none;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
    max-width: 300px;
    width: 100%;
    height: 60px;
    border: 2px solid #88BE43 !important;
    background: #88BE43;
    font-size: 21px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 8px 10px 6px;
    letter-spacing: 3px;
    font-family: 'HelveticaNeueBold';
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover{
	background: transparent;
	color: #88BE43;
	border-color: #88BE43 !important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.wpforms-container select.wpforms-payment-price {
    outline: 0!important;
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    appearance: none;
    width: 100%!important;
    max-width: 100%!important;
    height: 50px!important;
	background: transparent!important;
	border: 1px solid #6D9B6A!important;
	box-sizing: border-box!important;
    padding: 15px 14px 15px!important;
	color: #21d5ba!important;
	font-weight: 400!important;
	font-size: 17px!important;
	line-height: 1!important;
	border-radius: 0;
    position: relative;
}
/*.wpforms-container select.wpforms-payment-price  option.placeholder{
	color: #21d5ba!important;
}*/
.wpforms-field.wpforms-field-payment-checkbox{
	width: 100%!important;
}

.wpforms-field.wpforms-field-payment-checkbox .choice-1{
	display: flex;
	align-items: center;
	margin-top: 20px!important;
	max-width: 835px;
	width: 100%;
	margin-left: auto!important;
	margin-right: auto!important;
	cursor: pointer;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field .choice-1 input[type="checkbox"]{
	width: 35px!important;
	height: 35px!important;
	border: 1px solid #b1c9b1!important;
	border-radius: 0!important;
	background: transparent!important;
	color: #90c14c!important;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field .choice-1 input[type="checkbox"]:checked{
	color: #90c14c!important;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field .choice-1 label{
	margin-bottom: 0;
	text-transform: initial;
	cursor: pointer;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9AA59A;
  opacity: 1;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder { /* Firefox 19+ */
  color: #9AA59A;
  opacity: 1;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder { /* IE 10+ */
  color: #9AA59A;
  opacity: 1;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder { /* Firefox 18- */
  color: #9AA59A;
  opacity: 1;
}


/*
-------------------------
 Input type checkbox Css
-------------------------
*/
/*.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox {
    width: 100%;
    margin-bottom: 60px;
    padding-top: 55px;
    padding-left: 0;
    padding-right: 0;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul{
	width: 100%;
	max-width: 825px;
	margin: 0 auto;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 30px !important;
    position: relative;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li:before{
	content: none;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li.wpforms-selected input[type="checkbox"]{
	border: 2px solid #88BE43;
	color: #88BE43;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li.wpforms-selected label{
	color:#88BE43; 
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li input[type="checkbox"]{
	width: 0;
	height: 0;
	margin: 0;
	border-radius: 0;
	position: absolute;
	left: 0;
	top: 4px;
	bottom: 0;
	opacity: 0;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label{
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #88BE43;
    margin: 0;
    padding-left: 80px;
    text-transform: inherit;
    font-family: 'Raleway', sans-serif;
    padding-right: 0;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label span:before {
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    left: 0;
    top: 6px;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label span:before{
	border:2px solid #6D9B6A;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label span:after{
	display: block;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label span:after{
    left: 17px;
    top: 17px;
    width: 8px;
    height: 16px;
    border: solid #6D9B6A;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    content: "";
}*/
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox {
    width: 100%;
    margin-bottom: 60px;
    padding-top: 55px !important;
    padding-left: 0;
    padding-right: 0;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul{
	width: 100%;
	max-width: 825px;
	margin: 0 auto;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 30px !important;
    position: relative;
}
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label{
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #88BE43;
    margin: 0;
    padding-left: 80px;
    text-transform: inherit;
    font-family: 'Raleway', sans-serif;
    padding-right: 0;
    cursor: pointer;
}
/* Hide the browser's default checkbox */
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark{
    position: absolute;
    width: 43px;
    height: 43px;
    border: 1px solid #6D9B6A;
    box-sizing: border-box;
    left: 0;
    top: 6px;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label .checkmark:after {
  	left: 17px;
    top: 8px;
    width: 8px;
    height: 18px;
    border: solid #88be44;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    content: "";
}



.dm-member-msg{
	max-width: 395px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.dm-member-msg span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 29px;
	line-height: 31px;
	color: #99B0BC;
	font-family: 'PoppinsMedium';
	border-bottom: 1px solid#99B0BC;
	padding-top: 40px;
	padding-bottom: 5px;
}

/*
----------------------
 Responsive Css
----------------------
*/

@media(max-width: 1399px){
}

@media(max-width: 1199px){
	.dm-us-contact-form-sec {
	    margin-bottom: 90px;
	}
	.dm-member-msg span {
	    font-size: 27px;
	    line-height: 29px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    padding: 0 20px;
	}
	.pcbsd-title{
		margin-bottom: 15px;
	}
	.participateBnrSlideItem-des{
		min-height: 550px;
	}
}

@media(max-width: 991px){
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    padding: 0 15px;
	    margin-bottom: 20px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
		margin: 0 -15px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
	    font-size: 18px;
	    line-height: 20px;
	    padding-left: 10px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input {
	    height: 60px;
	    background: transparent;
	    font-size: 20px;
	    line-height: 28px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label {
	    font-size: 20px;
	    line-height: 26px;
	    padding-left: 65px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
	    height: 85px;
	    font-size: 30px;
	    line-height: 32px;
	    padding: 25px 0 27px;
	}
	.dm-member-msg span {
	    font-size: 26px;
	    line-height: 28px;
	}
	.dm-contact-form-head{
		font-size: 23px;
	}
	.participateBnrSlideItem-des{
		min-height: 450px;
	}
}

@media(max-width: 767px){
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    width: 100%;
	}
	.dm-us-contact-form-sec {
	    margin-bottom: 60px;
	}
	.dm-us-contact-form-wrp{
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    padding: 0;
	    padding-top: 25px !important;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
		margin: 0;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label {
	    font-size: 20px;
	    line-height: 24px;
	    padding-left: 55px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label span:before {
	    width: 35px;
	    height: 35px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label span:after {
	    left: 15px;
	    top: 15px;
	    width: 6px;
	    height: 14px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
	    height: 75px;
	    font-size: 28px;
	    line-height: 30px;
	    padding: 21px 0 22px;
	}
	.dm-member-msg span {
	    font-size: 24px;
	    line-height: 26px;
	    padding-top: 30px;
	}
	.dm-us-contact-form-sec .dm-contact-form-head {
	    padding-bottom: 30px;
	}
	.pcbsd-title {
	    font-size: 50px;
	}
	.participateBnrSlideItem-des p{
		font-size: 18px;
		font-weight: 400;
	}
}

@media(max-width: 575px){
	.dm-us-contact-form-sec .dm-contact-form-head {
	    padding-bottom: 20px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    margin-bottom: 10px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input {
	    height: 50px;
	    font-size: 17px;
	    line-height: 22px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
		padding-left: 0;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
		font-size: 17px;
	}
	.checkmark {
	    width: 35px;
	    height: 35px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label .checkmark:after {
	    left: 14px;
	    top: 5px;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
	    height: 63px;
	    font-size: 26px;
	    line-height: 1;
	    padding: 18px 0 17px;
	}
	.dm-member-msg span {
	    font-size: 21px;;
	}
	.dm-us-contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label{
		font-size: 17px;
	}
	.pcbsd-title {
	    font-size: 37px;
	}
	.participateBnrSlideItem-des p {
    	font-size: 17px;
	}
	.participateBnrSlideItem-des{
		text-align: center;
	}
	.participateBnrSlideItem-des {
	    min-height: 400px;
	}
}

@media(max-width: 479px){
	.dm-member-msg span {
	    font-size: 19px;;
	}

}

@media(max-width: 359px){

}