.page-banner.exSuccessStories .page-banner-des{
	text-align: left!important;
}
.page-banner.exSuccessStories .page-banner-inr{
	left: 15px;
	right: auto;
}
.page-banner.exSuccessStories h1.page-banner-title{
	color: #88BE43!important;
	font-size: 70px;
}
.page-banner.exSuccessStories h1.page-banner-title + p{
	color: #494D51;
}
.topLine{
	padding-bottom: 25px;
}

.storiesPageCn .event-media-page-tab-sec{
	background: transparent;
	box-shadow: none;
	border: 0;
}
.storiesPageCn .fl-tabs-2 .tab-link{
	width: 33.33%;
}

.notableEventsCn{
	background: #fff;
}
.notableEventsCnIn{	
	padding: 50px 60px 70px;
	text-align: center;
}
.notableEventsCn h2{
	font-size: 50px;
}
.initiateEventItems .dm-advisor-grd-item-wrap ul li{
	width: 33.33%;
}
.dm-advisor-grd-item-wrap ul li:nth-child(4n+1) {
    clear: initial;
}
.dm-advisor-grd-item-wrap ul li:nth-child(3n+1) {
    clear: left;
}
.initiateEventItems .dm-advisor-grd-item-img{
	height: auto;
}
.advocacyCn{
	padding: 40px 0 90px;
}
.advocacyCn .upcoming-event-con{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.advocacyCn .upcoming-event-con .upcoming-event-con-lft{
	order: 2;
}
.advocacyCn .upcoming-event-con .upcoming-event-con-rgt{
	order: 1;
}
.advocacyCn .upcoming-event-con-lft{
	width: 44%;
}
.advocacyCn .upcoming-event-con-rgt{
	width: 56%;
	padding-left: 20px;
}
.advocacyCn .uec-title span,
.advocacyCn .uec-title a {
    padding-left: 50px;
    border-bottom: 1px solid #88BE43;
    color: #88BE43;
    display: inline-block;
    padding-bottom: 10px;
}
.advocacyCn .uec-title a:hover{
	color: #006838;
}
.initiateEventsCn{
	background: #fff;
}
ul.publicatinList.notableEventsList .filter-result-items-des{
	padding-right: 25px;
}
ul.publicatinList.notableEventsList li:nth-child(2n+2) .filter-result-items-des{
	order: 2;
	padding-right: 0;
	padding-left: 25px;
	text-align: left;
}
ul.publicatinList.notableEventsList.filter-result-items-des p{
	padding-left: 80px;
}
ul.publicatinList.notableEventsList li:nth-child(2n+2) .filter-result-items-des p{
	padding-left: 0;
	padding-right: 80px;
}
.exAnnualReports{
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.25);
}
.exAnnualReports .publicatons-page-top-sec-innr{}
.exAnnualReports ul li:nth-child(2n+1) .publicatons-page-top-sec-des{
    order: 2;
    padding-left: 37px;
    padding-right: 0;
    text-align: left;
}

.exAnnualReports ul li:nth-child(2n+1) .publicatons-page-top-sec-des p{
    padding-left: 0;
    padding-right: 20px;
}

.annualReports ul li{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.annualReports .publicatons-page-top-sec-img{
    max-width: 100%;
    width: 100%;
}
.annualReports .publicatons-page-top-sec-img img{
    width: 100%;
}
.annualReports .publicatons-page-top-sec-img .rp-img{
    overflow: hidden;
}
.annualReports .publicatons-page-top-sec-img:hover img{
}
.annualReports ul {
    margin: 0 -15px;
    padding-bottom: 35px;
}
.annualReports {
    padding-top: 60px;
    padding-bottom: 45px;
    margin-bottom: 30px;
}
.annualReportsHdr{
    text-align: center;
}
.annualReportsHdr h2 {
    text-align: center;
    margin-bottom: 20px;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.filter-result-items-des p{
		padding-left: 50px;
	}
	ul.publicatinList.notableEventsList li:nth-child(2n+2) .filter-result-items-des p {
	    padding-right: 50px;
	}

}

@media(max-width: 991px){
	.advocacyCn{
		padding-top: 0;
	}
	.filter-result-items-des p {
	    padding-left: 0;
	}
	ul.publicatinList.notableEventsList li:nth-child(2n+2) .filter-result-items-des p{
		padding-right: 0;
	}
	.upcoming-event-con-rgt p{
		font-size: 18px;
	}
	.advocacyCn{
		padding-bottom: 50px;
	}
	.page-banner.exSuccessStories h1.page-banner-title{
		font-size: 60px;
	}
	.exAnnualReports ul li:nth-child(2n+1) .publicatons-page-top-sec-des {
	    padding-left: 25px;
	}
	.publicatons-page-top-sec-des{
		width: 68%;
		max-width: 100%;
	}
	.publicatons-page-top-sec-img{
		max-width: 100%;
		width: 32%;
	}
	.annualReports ul{
		margin-left: -10px;
		margin-right: -10px;
	}
	.annualReports ul li{
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media(max-width: 767px){
	.notableEventsCn h2 {
	    font-size: 40px;
	}
	ul.publicatinList.notableEventsList li:nth-child(2n+2) .filter-result-items-des{
		padding-left: 0;
	}
	.notableEventsCnIn{
		padding-left: 20px;
		padding-right: 20px;
	}
	.advocacyCn .upcoming-event-con-lft{
		width: 100%;
	}
	.upcoming-event-con-lft{
		padding-bottom: 20px;
		max-width: 450px;
		margin-left: auto;
		margin: auto;
	}
	.advocacyCn .upcoming-event-con-rgt{
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		text-align: left;
	}
	.advocacyCn .uec-title span{
		padding-left: 0;
	}
	.upcoming-event-con-rgt p{
		font-size: 17px;
	}
	.initiateEventItems .dm-advisor-grd-item-wrap ul li{
		width: 50%;
	}
	.page-banner.exSuccessStories h1.page-banner-title{
		font-size: 55px;
	}
	.publicatons-page-top-sec-innr{
		display: block;
	}
	.publicatons-page-top-sec-des{
		width: 100%;
	}
	.publicatons-page-top-sec-img{
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		max-width: 350px;
		width: 100%;
		padding-top: 10px;
	}
	.rp-img img{
		width: 100%;
	}
	.exAnnualReports ul li:nth-child(2n+1) .publicatons-page-top-sec-des {
	    padding-left: 0;
	}
	.exAnnualReports ul li:nth-child(2n+1) .publicatons-page-top-sec-des p{
		padding-right: 0;
	}
	.annualReports ul li{
		width: 50%;
	}
}

@media(max-width: 575px){
	.notableEventsCn h2 {
	    font-size: 35px;
	}
	.notableEventsCnIn{
		padding-left: 0;
		padding-right: 0;
	}
	.initiateEventItems .dm-advisor-grd-item-wrap ul li {
	    width: 100%;
	}
	.notableEventsCnIn{
		padding-bottom: 50px;
	}
	.page-banner.exSuccessStories h1.page-banner-title{
		font-size: 40px;
	}
	.annualReports ul li{
		width: 100%;
	}
	.annualReports .publicatons-page-top-sec-img{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.annualReportsHdr h2{
		font-size: 35px;
	}
}

@media(max-width: 479px){
	.storiesPageCn .fl-tabs-2 .tab-link {
	    width: 100%;
	}
	.storiesPageCn .fl-tabs-2 .tab-link{
		padding-top: 10px;
	}
	.page-banner.exSuccessStories h1.page-banner-title{
		font-size: 35px;
	}
	.annualReportsHdr h2 {
	    font-size: 32px;
	}
}

@media(max-width: 359px){
	.page-banner.exSuccessStories h1.page-banner-title{
		font-size: 32px;
	}
}


