/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 600;
}
h1{
	font-size: 37px;
}
h2{
	font-size: 30px;
	font-family: 'HelveticaNeueBold'!important;
	font-weight: normal!important;
}
h3{
	font-size: 23px;
	font-family: 'Verdana-Bold'!important;
	font-weight: normal!important;
}
h4{
	font-size: 20px;
	font-family: 'Verdana-Bold'!important;
	font-weight: normal!important;
}
h5{
	font-size: 18px;
}
