/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 600;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 30px;
	font-family: 'HelveticaNeueBold';
	font-weight: normal!important;
}
h3{
	font-size: 26px;
	font-family: 'Verdana-Bold';
	font-weight: normal!important;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 15px;
}
